<%= simple_form_for(@proposal) do |f| %>
  <%= f.input :date_proposale, label: 'Choississez la date' %>
  <%= f.input :description, label: 'Tapez la description' %>
  <%= f.input :max_participants %>
  <%= f.submit class: "" %>
  <br>
  <p>*Mandatory fields</p>
<% end %>
