<div>
  <%= simple_form_for([@expo,@proposal]), data: { controller: 'flatpickr' } do |f| %>
    <%= f.input :date_proposale, as: :string, required: false, input_html: {class: 'datepicker'}, placeholder: 'Choississez la date' %>
    <%= f.input :description, placeholder: 'Tapez la description' %>
    <%= f.input :max_participants, collection: 1..5 %>
    <%= f.submit 'Créer ma proposition', class: "action-button button-container" %>
    <br>
  <% end %>
</div>
