<% if message.user == current_user %>
  <div class="float-end" id="message<%= message.id %>" data-proposal-subscription-target="message">
    <div class="d-flex">
      <div class="pt-1 pe-2">
        <% if message.user.photo.attached? %>
          <%= cl_image_tag message.user.photo.key, class: "avatar" %>
        <% else %>
          <%= image_tag "avatar_placeholder.png", class: "avatar" %>
        <% end %>
      </div>
      <div>
        <small>
          <strong class="message-author"><%= message.user.username %></strong>
            <i id="chat-time"><%= message.created_at.strftime("%l:%M%p") %></i>
        </small>
        <p id="chat-message"><%= message.content %></p>
      </div>
    </div>
<% else %>
  <div class="float-start" id="message<%= message.id %>" data-proposal-subscription-target="message">
    <div class="d-flex">
      <div class="pt-1 pe-2">
        <% if message.user.photo.attached? %>
          <%= cl_image_tag message.user.photo.key, class: "avatar" %>
        <% else %>
          <%= image_tag "avatar_placeholder.png", class: "avatar" %>
        <% end %>
      </div>
      <div>
        <small>
          <strong class="message-author"><%= message.user.username %></strong>
            <i id="chat-time"><%= message.created_at.strftime("%l:%M%p") %></i>
        </small>
        <p><%= message.content %></p>
      </div>
    </div>
<% end %>
</div>
