<div class="w-100">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <h2 class="title_carrousel">DÉCOUVREZ</h2>
    <div class="carousel-inner">
      <% @best_rated.first(5).each_with_index do |expo, index| %>
        <div class="carousel-item <%= 'active' if index.zero? %>">
          <%= link_to expo_path(expo), class: "" do %>
            <div class="title_expo_carrousel_position">
              <% if expo.title.length >= 10 %>
                <p class="title_expo_carrousel"><span><%= expo.title.upcase.split(' ').first %></span></p>
                <p class="title_expo_carrousel"><span><%= expo.title.upcase.split(' ').drop(1).join(' ') %></span></p>
              <% else %>
                <p class="title_expo_carrousel"><span><%= expo.title.upcase%></span></p>
              <% end %>
            </div>
            <div class="image-container-carroussel"  style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.1)), url(<%= cl_image_path(expo.photo.key) %>">
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <div class="title-margin-left">
    <p class="title">EXPOS À VENIR</p>
    <hr>
  </div>

   <div class="horizontal-scroll d-flex">
      <%@upcoming.each do |expo| %>
        <div class="card-small subtitle-bold"  style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.1)), url(<%= cl_image_path(expo.photo.key) %>">
          <p>
            <%= link_to expo.title.upcase, expo_path(expo) %>
          </p>
        </div>
      <% end %>
   </div>

  <div class="title-margin-left">
    <p class="title">SE TERMINENT BIENTÔT</p>
    <hr>
  </div>
    <div class="horizontal-scroll d-flex flex-nowrap">
      <%@endend_soon.each do |expo| %>
        <div class="card-small subtitle-bold" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path(expo.photo.key) %>">
          <p>
            <%= link_to expo.title.upcase, expo_path(expo) %>
          </p>
        </div>
      <% end %>
    </div>
    <div class="margin-bottom" ></div>
</div>
