<div class="w-100">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <%@expos.first(5).each_with_index do |top_five, index| %>
        <div class="carousel-item <%= 'active' if index.zero? %>">
          <a href="<%=%>">
            <%= cl_image_tag(top_five.photo.key, height: '292px', quality: 50) %>
          </a>
        </div>
      <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="m-3">
    <p class="title">EXPOS A VENIR</p>
    <hr>
    <div class="d-flex flex-nowrap">
      <%@expos.last(5).each do |expo| %>
        <a href="<%= expo_path(expo)%>">

          <%= cl_image_tag(expo.photo.key, height: '292px', quality: 50, class:'card-small') %>
          <%# :transformation=>{:overlay=>{font_family: 'sans-serif', font_size: '18px', :text=>expo.title}}) %>
        </a>

      <% end %>
    </div>
    <p class="title">SE TERMINENT BIENTÔT</p>
    <hr>
    <div class="d-flex flex-nowrap">
      <%@expos.slice(6,11).each do |expo| %>
        <a href="<%= expo_path(expo)%>">
          <%= cl_image_tag(expo.photo.key, height: '292px', quality: 50, class:'card-small', style:"background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), g)") %>
        </a>
      <% end %>
    </div>
  </div>
</div>
