<div class="display-proposal">

  <div class="card-index">
    <div class="image-box">
      <%= cl_image_tag(@expo.photo.key, height: 292, width: 368, :quality=>"auto", :fetch_format=>:auto, gravity:"faces" , :crop=>"fill", class: "image-card-index") %>


        <h2 class="title"><%= @expo.title %></h2>

      <%= link_to expo_path(@expo) do %>
        <div class="img-gradient"></div>
      <% end %>
    </div>

     <div class="d-flex justify-content-between">
        <p class="subtitle"><%= @expo.place.address_name  %></p>
        <p class="subtitle arrondissement"><%= @expo.place.address_city  %> <%= @expo.place.address_zipcode.split(//).last(2).join %></p>
      </div>
      <p class="subtitle">Du <%= (l @expo.date_start, format: "%d %B") %> au <%= (l @expo.date_end, format: "%d %B %Y") %></p>
  </div>


  <div data-controller="form-display">
   <p class="caret-down proposal_action-button mt-2" data-action="click->form-display#revealContent"> Nouvelle Visite</p>
    <span class="d-none" data-form-display-target="content">
      <%= render "shared/form_proposal" %>
    </span>
  </div>



  <h3 class="title mt-4">Autres Propositions</h3>
  <hr>

  <div>
    <% @proposals.each do |proposal| %>
      <div>
        <div class="d-flex">
          <div class="pt-1 pe-3">
            <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, class: "avatar-xl" %>
            <% else %>
              <%= image_tag "avatar_placeholder.png", class: "avatar-xl" %>
            <% end %>
          </div>
          <div class="flex-grow-1">
            <span class="review_title-small"><%= proposal.user.username%></span>
            <p class="paragraphe mb-3"><%=proposal.description %></p>
            <div class="d-flex">
              <span class="proposal_sub-small flex-grow-1"><%=proposal.date_proposale.strftime("%d/%^b/%Y")%></span>
              <div>
                <span class="proposal_sub-small"> <%= proposal.participants.count %>/<%=proposal.max_participants%></span>
                <i class="fa-solid fa-user-group"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="button-container">
          <div class="action-button">
            <%= link_to expo_proposal_path(@expo, proposal) do %>
              <p>Je participe!</p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% console %>
