<div class="display-proposal">

  <h2 class="title"><%= @expo.title %></h2>

  <div data-controller="form-display">
   <p class="caret-down proposal_action-button mt-2" data-action="click->form-display#revealContent"> Nouvelle Visite</p>
    <span class="d-none" data-form-display-target="content">
      <%= render "shared/form_proposal" %>
    </span>
  </div>



  <h3 class="title mt-4">Autres Propositions</h3>
  <hr>

  <div>
    <% @proposals.each do |proposal| %>
      <div>
        <div class="d-flex">
          <div class="pt-1 pe-3">
            <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, class: "avatar-xl" %>
            <% else %>
              <%= image_tag "avatar_placeholder.png", class: "avatar-xl" %>
            <% end %>
          </div>
          <div class="flex-grow-1">
            <span class="review_title-small"><%= proposal.user.username%></span>
            <p class="paragraphe mb-3"><%=proposal.description %></p>
            <div class="d-flex">
              <span class="proposal_sub-small"><%=proposal.date_proposale.strftime("%d/%^b/%Y")%></span>
              <div>
                <span class="proposal_sub-small"><%=proposal.max_participants%>/5</span>
                <i class="fa-solid fa-user-group"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="button-container">
          <div class="action-button">
              <p>Je participe!</p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
