<div class="container-show-proposal">

  <!-- proposal-->
  <div class="image_show-proposal">
    <%=cl_image_tag(@expo.photo.key, height: 292, width: 368, :quality=>"auto", :fetch_format=>:auto, gravity:"faces" , :crop=>"fill")%>
  </div>
  <div class="display-show-proposal">
    <div class="card-show">
      <h2 class="title color"><%=@proposal.date_proposale.strftime("%d/%^b/%Y")%></h2>
      <h2 class="title"><%= @expo.title %></h2>

      <div class="d-flex justify-content-between">
        <p class="subtitle"><%= @expo.place.address_name.upcase  %></p>
        <p class="subtitle arrondissement"><%= @expo.place.address_city  %> <%= @expo.place.address_zipcode.split(//).last(2).join %></p>
      </div>
      <div>
        <span class="proposal_sub-small"><%=@proposal.max_participants%>/5</span>
        <i class="fa-solid fa-user-group"></i>
      </div>
    </div>

    <!-- avatar participation-->


    <!-- button-->
    <div class="button-container mt-3">
      <div class="action-button">
          <p class="color" >Je participe</p>
      </div>
    </div>

    <!-- Chatroom-->
    <div class="" data-controller="proposal-subscription" data-proposal-subscription-proposal-id-value="<%= @proposal.id %>" data-proposal-subscription-current-user-id-value="<%= current_user.id %>">
      <h2 class="title mt-4">chatroom</h2>
      <hr class="title m-0 mt-3 mb-4">

      <div class="messages" data-proposal-subscription-target="messages">

        <div class="d-flex">
          <div class="pt-1 pe-2">
            <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, class: "avatar" %>
            <% else %>
              <%= image_tag "avatar_placeholder.png", class: "avatar" %>
            <% end %>
          </div>
          <div>
            <small>
              <strong><%= @proposal.user.username%></strong>
            </small>
            <p><%=@proposal.description %></p>
          </div>
        </div>

          <% @proposal.messages.each do |message| %>
            <%= render "shared/message", message: message, user: (message.user == current_user) %>
          <% end %>
        </div>
      <%= render "shared/messages_proposal" %>
    </div>
  </div>
</div>
