<div class="review_avatar">
  <% if review.user.photo.attached? %>
      <%= cl_image_tag review.user.photo.key, class: "avatar-xl" %>
    <% else %>
      <%= image_tag "avatar_placeholder.png", class: "avatar-xl" %>
    <% end %>
</div>
<div class="show_review flex-grow-1">
  <span class="review_title-small"><%= review.user.username%></span>
  <div class="d-flex justify-content-between">
    <span class="review_sub-small"><%=review.created_at.strftime("%d %B %Y")%></span>
    <span class="review_sub-small"><%=review.rating %><i class="fa-solid fa-star-of-life ms-1 color" style="font-size: 16px"></i></span>
  </div>
  <p class="review-paragraphe-small"><%=review.comment %></p>
</div>
