<% if params[:index] == "map" %>
  <!-- map  -->
  <div class="map_style" style="width: 100%; height: calc(100vh - 132px) ;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <!-- modal map  -->
  <% @expos.each do |expo| %>
    <div id="modal-map">
      <div class="modal fade" id="expo-<%=expo.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <!-- <div class="modal-header">
            </div> -->
            <div class="modal-body">
              <div class="modal-card">
                <div class="card-map">
                  <div class="image-box">
                    <%= cl_image_tag(expo.photo.key, height: 180, width: 400, :quality=>"auto", :fetch_format=>:auto, gravity:"faces" , :crop=>"fill", class: "image-card-map") %>

                    <%= link_to expo_path(expo) do %>
                      <div class="img-gradient"></div>
                    <% end %>

                    <%= link_to expo_wishes_path(expo, user_id: current_user.id), 'data-turbo-method': :post do %>
                      <i class="fa-solid fa-bookmark heart-icon-small <%= current_user.wishes.where(expo_id: expo.id).empty? ? "" : "wish" %>"></i>
                    <% end %>

                    <i class="fa-solid fa-star-of-life star-icon-map"></i>
                    <p class="average_rating-map subtitle"> <%= expo.average_rating&.round(1) %></p>

                    <%# <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> %>

                    <i class="fa-solid fa-xmark i-close" data-bs-dismiss="modal" aria-label="Close"></i>
                  </div>
                </div>
                <div class="expo-detail">
                  <h2 class="title"><%= expo.title  %></h2>
                  <div class="place">
                    <p class="subtitle"><%= expo.place.address_name  %></p>
                    <p class="subtitle-arrondissement-map"><%= expo.place.address_city  %> <%= expo.place.address_zipcode.split(//).last(2).join %></p>
                  </div>
                  <p class="subtitle">Du <%= (l expo.date_start, format: "%d %B") %> au <%= (l expo.date_end, format: "%d %B %Y") %></p>
                </div>
              </div>
            </div>
            <!-- <div class="modal-footer">
            </div> -->
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% else  %>
  <!-- index  -->
  <div class="container-index">
    <div class="tag-container">
    <% if @queries %>
      <% @queries.each do |query| %>
        <div class="tag-query subtitle"><%= query %></div>
      <% end %>
    <% end %>
    </div>
    <% @expos.each do |expo| %>
      <div class="card-index">
        <div class="image-box" data-controller="wishes" data-wishes-path-value="<%= expo_wishes_path(expo, user_id: current_user.id) %>"> <!-- controller -->
          <%= cl_image_tag(expo.photo.key, height: 292, width: 384, :quality=>"auto", :fetch_format=>:auto, gravity:"faces", :crop=>"fill", class: "image-card-index") %>
          <%= link_to expo_path(expo) do %>
            <div class="img-gradient"></div>
          <% end %>


          <!-- <%= link_to expo_wishes_path(expo, user_id: current_user.id), 'data-turbo-method': :post do %>

              <i class="fa-solid fa-heart heart-icon <%= current_user.wishes.where(expo_id: expo.id).empty? ? "" : "wish" %>" data-wishes-target="hearts" data-action="click->wishes#like" ></i>
            <% end %> -->

          <%= render "wishes/heart", wish: current_user.wishes.find_by(expo_id: expo.id) %>
          <i class="fa-solid fa-star-of-life star-icon-index"></i>

          <p class="average_rating-index subtitle"> <%= expo.average_rating&.round(1) %></p>
        </div>
        <div class="info-index">
          <%= link_to expo_path(expo), class: "text-decoration-none" do %>
            <h2 class="title"><%= expo.title  %></h2>
            <div class="d-flex justify-content-between">
              <p class="subtitle"><%= expo.place.address_name  %></p>
              <p class="subtitle arrondissement color"><%= expo.place.address_city  %> <%= expo.place.address_zipcode.split(//).last(2).join %></p>
            </div>
            <p class="subtitle">Du <%= (l expo.date_start, format: "%d %B") %> au <%= (l expo.date_end, format: "%d %B %Y") %></p>
            <div class="tag-container">
              <% expo.tags.each do |tag| %>
                <% if @queries.include?(tag) %>
                  <div class="tag-actif subtitle"><%= tag %></div>
                <% else %>
                  <div class="tag-expo subtitle"><%= tag %></div>
                <% end %>
              <% end %>
            </div>
          <% end %>
          <hr class="filet-line">
        </div>
      </div>
    <% end %>
  <% end  %>
</div>
