<div class="container-index">

  <% @expos.each do |expo| %>

    <div class="card-index">

      <%= cl_image_tag(expo.photo.key, height: 292, width: 368, :quality=>"auto", :fetch_format=>:auto, gravity:"faces" , :crop=>"fill", class: "image-card-index") %>

      <h2 class="title"><%= expo.title  %></h2>

      <div class="d-flex justify-content-between">
        <p class="subtitle"><%= expo.place.address_name  %></p>
        <p class="subtitle arrondissement"><%= expo.place.address_city  %> <%= expo.place.address_zipcode.split(//).last(2).join %></p>
      </div>

      <p class="subtitle">Du <%= (l expo.date_start, format: "%d %B %Y") %> au <%= (l expo.date_end, format: "%d %B %Y") %></p>

      <% expo.tags.each do |tag| %>
       <div class="tag-index subtitle"><%= tag %></div>
      <% end %>
      <hr>
    </div>

  <% end %>

</div>
