<div class="m-5">

  <img src="<%= @expo.cover_url %>" alt="<%= @expo.cover_alt %>">
  <img src="" alt="">
  <h1><%= @expo.title %></h1>
  <%# <%= @expo.address_name %>
  <%= @expo.date_start %>
  <%= @expo.date_end %>

  <div>
    <%= link_to "Programmer ma visite" %>
  </div>

  <%= @expo.description %>

  <div>
    <%= link_to "Ajouter un commentaire" %>
  </div>
  <div>
  <% @expo.reviews.each do |review| %>

    <%= @user.photo.attached? ? cl_image_tag(@user.photo.key, height:200, width:200, crop: :fill) : image_tag("avatar_placeholder.png")%>
    <%= @user.username %>
    <%# affihchage user %>
    <%=review.expo %>
    <%=review.rating %>
    <br>
    <%=review.comment %>
    <% end %>
  </div>
</div>
