<div class="container-show">

  <%=cl_image_tag(@expo.photo.key, height: 292, width: 368, :quality=>"auto", :fetch_format=>:auto, gravity:"faces" , :crop=>"fill")%>

  <div class="show_expo_details">
    <h2 class="title"><%= @expo.title %></h1>
    <div class="d-flex justify-content-between">
      <p class="subtitle"><%= @expo.place.address_name  %></p>
      <p class="subtitle arrondissement"><%= @expo.place.address_city  %> <%= @expo.place.address_zipcode.split(//).last(2).join %></p>
    </div>

  </div>

  <div>
    <h2>Programmer ma visite</h2>
    <%# <%= link_to "Programmer ma visite", expo_proposals_path(@proposal) %>
  </div>

  <div>
      <% @expo.tags.each do |tag| %>
    <div class="tag-index subtitle"><%= tag %></div>
    <% end %>
    <hr>
  </div>

  <div class="paragraphe">
    <%= @expo.description.html_safe %>
  </div>

  <div>

    <div>
    <h2>ajouter un commentaire</h2>
      <%# <%= link_to "Ajouter un commentaire", expo_reviews(@review) %>
    </div>

    <div class="show_reviews">
      <% @expo.reviews.each do |review| %>
      <div>
        <%= review.user.username %>
        <%=review.rating %>
        <%=review.created_at %>
        <br>
        <%=review.comment %>
      </div>
      <% end %>
    </div>
  </div>

</div>
