<%=cl_image_tag(@expo.photo.key, height: 292, width: 368, :quality=>"auto", :fetch_format=>:auto, gravity:"faces" , :crop=>"fill")%>

<div class="container-show">

  <div class="card-show">
    <h2 class="title"><%= @expo.title %></h1>
    <div class="d-flex justify-content-between">
      <p class="subtitle"><%= @expo.place.address_name  %></p>
      <p class="subtitle arrondissement"><%= @expo.place.address_city  %> <%= @expo.place.address_zipcode.split(//).last(2).join %></p>
    </div>
    <p class="subtitle">Du <%= (l @expo.date_start, format: "%d %B") %> au <%= (l @expo.date_end, format: "%d %B %Y") %></p>
  </div>

  <div>
    <h2>***BOUTON visite***</h2>
    <%# <%= link_to "Programmer ma visite", expo_proposals_path(@proposal) %>
  </div>

  <div>
      <% @expo.tags.each do |tag| %>
    <div class="tag-expo subtitle"><%= tag %></div>
    <% end %>
  </div>

  <div class="paragraphe">
    <%= @expo.description.html_safe %>
  </div>

  <div>
    <div>
    <h2>***BOUTON review***</h2>
      <%# <%= link_to "Ajouter un commentaire", expo_reviews(@review) %>
    </div>

    <div>
      <% @expo.reviews.each do |review| %>
      <div class="d-flex">
        <div class="pe-3">
          <%=cl_image_tag(@expo.photo.key, height: 100, width: 100, :quality=>"auto", :fetch_format=>:auto, gravity:"faces" , :crop=>"fill")%>
        </div>
        <div class="show_review">
          <span class="review_title-small"><%= review.user.username%></span>
          <div class="d-flex justify-content-between">
          <span class="review_sub-small"><%=review.created_at.strftime("%Y %b %d")%></span>
          <span class="review_sub-small"><%=review.rating %>★</span>
          </div>
          <p class="paragraphe"><%=review.comment %></p>
        </div>
      </div>

      <% end %>
    </div>
  </div>

</div>
