

  <%# <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <%@expo.photo.each_with_index do |expo, index| %>
        <%# <div class="carousel-item <%= 'active' if index.zero? %>
          <%# <p>hello</p>
          <%= link_to expo_path(expo) do %>
            <%# <%= cl_image_tag(expo.photo.key, height: '292px', quality: 50) %>
          <%# <% end %>
        <%# </div>
      <% end %>
    <%# </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> %>



<div class="display-show " data-controller="insert-in-list" data-insert-in-list-position-value="beforeend">

  <div class="display-show image-box-show" data-controller="wishes" data-wishes-path-value="<%= expo_wishes_path(@expo, user_id: current_user.id) %>">
    <%=cl_image_tag(@expo.photo.key, height: 292, width: 368, :quality=>"auto", :fetch_format=>:auto, gravity:"faces" , :crop=>"fill")%>
    <i class="fa-solid fa-star-of-life star-icon-show"></i>
    <%# <p class="average_rating subtitle pb-2"> <%= @expo.average_rating.round(1)</p> %>
    <%= render "wishes/heart", wish: current_user.wishes.find_by(expo_id: @expo.id) %>
  </div>

  <div class="container-show">

    <div class="card-show">

        <h2 class="title"><%= @expo.title %></h2>

      <div class="d-flex justify-content-between">
        <p class="subtitle"><%= @expo.place.address_name  %></p>
        <p class="subtitle arrondissement"><%= @expo.place.address_city  %> <%= @expo.place.address_zipcode.split(//).last(2).join %></p>
      </div>
      <p class="subtitle">Du <%= (l @expo.date_start, format: "%d %B") %> au <%= (l @expo.date_end, format: "%d %B %Y") %></p>
    </div>

    <div class="button-container">
      <div class="action-button">
        <%= link_to expo_proposals_path(@expo) do %>
          <p class="color">Trouver une sortie</p>
        <% end %>
      </div>
    </div>

    <div class="tag-container">
      <% @expo.tags.each do |tag| %>
        <div class="tag-expo-show subtitle"><%= tag %></div>
      <% end %>
    </div>

    <div class="paragraphe mt-3 mb-4">
      <%= @expo.description.html_safe %>
    </div>


    <%= render "reviews/form", expo: @expo, review: @review %>
    <div class="button-container">
      <button type="button" class="action-button next-tag" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Laisser un commentaire
      </button>
    </div>

    <div class="review-container"  data-insert-in-list-target="items">
      <% @expo.reviews.each do |review| %>
        <div class="d-flex">
          <%= render 'review', review: review %>
        </div>
      <hr>
      <% end %>
    </div>

  </div>
</div>
