
<div class="display-show" data-controller="insert-in-list" data-insert-in-list-position-value="beforeend">
  <%=cl_image_tag(@expo.photo.key, height: 292, width: 368, :quality=>"auto", :fetch_format=>:auto, gravity:"faces" , :crop=>"fill")%>

  <div class="container-show">

    <div class="card-show">
      <h2 class="title"><%= @expo.title %></h2>
      <div class="d-flex justify-content-between">
        <p class="subtitle"><%= @expo.place.address_name  %></p>
        <p class="subtitle arrondissement"><%= @expo.place.address_city  %> <%= @expo.place.address_zipcode.split(//).last(2).join %></p>
      </div>
      <p class="subtitle">Du <%= (l @expo.date_start, format: "%d %B") %> au <%= (l @expo.date_end, format: "%d %B %Y") %></p>
    </div>

    <div class="button-container">
      <div class="action-button">
        <%= link_to expo_proposals_path(@expo) do %>
          <p>Programmer ma visite</p>
        <% end %>
      </div>
    </div>

    <div class="tag-container">
      <% @expo.tags.each do |tag| %>
        <div class="tag-expo-show subtitle"><%= tag %></div>
      <% end %>
    </div>

    <div class="paragraphe mt-4 mb-4">
      <%= @expo.description.html_safe %>
    </div>


<div class="" >

    <div class="button-container">
        <button type="button" class="action-button" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Laisser un commentaire
        </button>
    </div>
    <%= render "reviews/form", expo: @expo, review: @review %>

    <div class="review-container"  data-insert-in-list-target="items">
      <% @expo.reviews.each do |review| %>
          <div class="d-flex">
            <%= render 'review', review: review %>
          </div>
      <hr>
      <% end %>

    </div>

</div>

  </div>
</div>
