<div class="m-5">

  <img src="<%= @expo.cover_url %>" alt="<%= @expo.cover_alt %>">
  <div class="show_expo_details">
    <h1><%= @expo.title %></h1>
    <%# <%= @expo.address_name %>
    <%= @expo.date_start %>
    <%= @expo.date_end %>
  </div>



   <%= @expo.tags %>

  <div>
    <%# <%= link_to "Programmer ma visite", expo_proposals_path(@proposal) %>
  </div>


  <%= @expo.description %>



  <h2>ajouter un commentaire</h2>
   <div>
    <%# <%= link_to "Ajouter un commentaire", expo_reviews(@review) %>
  </div>

  <div class="show_reviews">
    <% @expo.reviews.each do |review| %>
      <%= review.user.username %>
      <%=review.rating %>
      <%=review.created_at %>
      <br>
      <%=review.comment %>
      <% end %>
  </div>
</div>
