<!DOCTYPE html>
<html>
  <head>
    <title>Tempera: trouve l'expo qui te convient !</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta charset="UTF-8">
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <link rel="stylesheet" href="https://use.typekit.net/cxl5bfc.css">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap" rel="stylesheet">
    <%= render 'shared/ios_pwa_links' %>

    <!-- app/views/layouts/application.html.erb -->
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"></script>
    <!-- rename the-script into script after copy-paste -->
    <link href="/assets/images/icons/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <!-- icons google -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,1,200" />

  </head>

  <body>
    <%= render "shared/flashes" %>
    <%# <% unless current_page?(expo_path(params[:id] || 0)) %>
      <%= render "shared/search_bar" %>
    <%# <% end %>
    <%= yield %>
    <%= render "shared/navbar" %>
  </body>
</html>
